<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">添加品牌</h3>
      </div>
      <div class="panel-body form-inline">
        <label>
          Id:
          <input type="text" class="form-control" v-model="id">
        </label>
        <label>
          Name:
          <input type="text" class="form-control" v-model="name" v-on:keyup.enter="add()">
        </label>
        <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
        <input type="button" value="添加" class="btn btn-primary" @click="add">
        <label>
          搜索名称关键字：
          <input type="text" class="form-control" v-model="keywords">
        </label>
      </div>
    </div>
    <table class="table table-bordered table-responsive table-hover table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>品牌名称</th>
        <th>添加时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item) in search(keywords)" :key="">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date|diteFormat('-')}}</td>
        <td>
          <button @click="del(item.id)" class="btn btn-primary btn-sm">删除</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  //全局过滤器,对时间进行格式化
  //所谓的全局过滤器，就是所有的VM实例都共享的
  Vue.filter('diteFormat', function (data, pattern = "") {
    let d = new Date(data);
    let y = d.getFullYear();
    let m = d.getMonth() + 1;
    let day = d.getDate();
    let h = d.getHours().toString().padStart(2, 0);
    let i = d.getMinutes().toString().padStart(2, 0);
    let s = d.getSeconds().toString().padStart(2, 0);
    return `${y}${pattern}${m}${pattern}${day} ${h}${pattern}${i}${pattern}${s}`;
  });
  let vm = new Vue({
    el: '#app',
    data: {
      id: '',//添加的品牌id
      name: '',//添加的品牌名称
      keywords: '',//搜索的关键字
      list: [
        {id: 1, name: '宝马', date: '2018-12-10'},
        {id: 2, name: '宝骏', date: '2017-10-10'},
        {id: 3, name: '小马', date: '2016-10-10'},
        {id: 4, name: '老马', date: '2013-10-10'},
      ]
    },
    methods: {
      //根据关键字进行搜索
      search(keywords) {
        console.log(keywords);
        if (this.keywords === '') {
          return this.list;
        }
        keywords.includes()
        /*
        let result = [];
        this.list.forEach((item, i) => {
          if (item.name.indexOf(keywords) != -1) {
            result.push(item);
          }
        });
        return result;
        */
        let result = [];
        this.list.filter((item) => {
          //includes()是否包含指定的字符串
          if (item.name.includes(keywords)) {
            result.push(item);
          }
        });
        return result;

      },
      add() {//添加数据
        let id = this.list.length + 1;
        let date = new Date();
        this.list.push({id: id, name: this.name, date: date});
        this.id = this.name = '';//清空输入框
      },
      del(index) {//根据数据的id删除数据
        /*this.list.some((item, i) => {
          if (item.id === index) {
            this.list.splice(i, 1);//从当前的索引开始删除一条数据
            return true;
          }
        });*/
        let i = this.list.findIndex((item, i) => {
          if (item.id === index) {
            return true;//返回找到的i索引
          }
        });
        this.list.splice(i, 1);
      }
    }
  });
</script>
<script src="js/js.js"></script>
</body>
</html>