<!doctype html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="../src/angular.js"></script>
	<link rel="stylesheet" href="../src/bootstrap/css/bootstrap.css">
</head>
<body ng-app="app">
<div ng-controller="myCtr">
	<div class="container">
		<form action="" name="user">
			<p>用户名称: <input type="text" name="username" ng-model="username" ng-required="true"></p>
			<p>密码: <input type="text" name="userpassword" ng-model="userpassword" ng-maxlength="12" ng-minlength="6"></p>
			<p><input type="submit"></p>
			<p>
				<button type="button" ng-click="register()">注册</button>
			</p>
			<p ng-show="user.userpassword.$dirty&&user.userpassword.$invalid">密码不符合要求,密码长度6位-12位之间</p>
			<!--$dirty:是否输入过,$invalid:是否合法-->
		</form>
	</div>
</div>
<script>
  let app = angular.module('app', []);
  app.controller('myCtr', ['$scope', function ($scope) {
    $scope.username = '';
    $scope.userpassword = '';
    $scope.register = function () {
      console.log($scope.username, $scope.userpassword);
    };
  }]);
</script>
</body>
</html>