<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E购通电子商务平台-购物车</title>
  <link rel="stylesheet" href="css/base.css"/>
  <link rel="stylesheet" href="css/indent.css"/>
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!-- header -->
<div class="header">
  <!-- header-top -->
  <div class="header-top clear">
    <div class="container">

      <div class="left">
        <span class="home"><em><a href="index.html">E购通首页</a></em></span>
        <span>亲，欢迎来到E购通</span>
        <span>请<a href="login.html">登录</a></span>
        <a href="register.html">免费注册</a>
      </div>
      <ul class="right clear">
        <li><a href="#">我的E购通</a></li>
        <li><a href="#">我的订单</a></li>
        <li><a href="#">服务中心</a><i></i>
          <ul>
            <li><a href="#">子导航一</a></li>
            <li><a href="#">子导航二</a></li>
            <li><a href="#">子导航三</a></li>
            <li><a href="#">子导航四</a></li>
          </ul>
        </li>
        <li><a href="#">网站导航</a><i></i>
          <ul>
            <li><a href="#">子导航一</a></li>
            <li><a href="#">子导航二</a></li>
            <li><a href="#">子导航三</a></li>
            <li><a href="#">子导航四</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- header-top  end-->
  <!-- search-logo -->
  <div class="search-logo">
    <div class="clear container">
      <a href="#" class="left lo1"><img src="images/logo.png" alt=""></a>
      <form class="left fr1" action="" mothed="">
        <p>
          <input placeholder="手机搜索  OPPO N3（N5209）白色" class="f14 c-999999" type="text"><input type="submit"
                                                                                              class="f14 white"
                                                                                              value="搜索">
        </p>
        <p class="text-2em">
          <a href="#">618狂欢</a>
          <a href="#">西门子</a>
          <a href="#">199减100</a>
          <a href="#">6.18元</a>
          <a href="#">魅蓝note</a>
          <a href="#">图书</a>
          <a href="#">61812期免息</a>
          <a href="#">领500元</a>
        </p>
      </form>
    </div>
    <!-- search-logo end-->
  </div>
</div>
<!-- header end-->
<!-- nav -->
<div class="nav">
  <div class="container">
    <ul class="nav-menu">
      <li id="home" class="active">
        <a href="index.html">首 页</a>
      </li>
      <li>
        <a href="index.html">手 机</a>
        <ul class="sub-Menu">
          <li><a href="#">三星</a></li>
          <li><a href="#">华为</a></li>
          <li><a href="#">OPPO</a></li>
          <li><a href="#">vivo</a></li>
          <li><a href="#">苹果</a></li>
          <li><a href="#">TCL</a></li>
          <li><a href="#">酷派</a></li>
          <li><a href="#">大神</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html">数码相机</a>
        <ul class="sub-Menu">
          <li><a href="#">佳能</a></li>
          <li><a href="#">尼康</a></li>
          <li><a href="#">索尼</a></li>
          <li><a href="#">富士徕卡</a></li>
          <li><a href="#">卡西欧</a></li>
          <li><a href="#">奥林巴斯</a></li>
          <li><a href="#">酷派</a></li>
          <li><a href="#">松下</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html">电 视</a>
        <ul class="sub-Menu">
          <li><a href="#">三星</a></li>
          <li><a href="#">华为</a></li>
          <li><a href="#">OPPO</a></li>
          <li><a href="#">vivo</a></li>
          <li><a href="#">苹果</a></li>
          <li><a href="#">TCL</a></li>
          <li><a href="#">酷派</a></li>
          <li><a href="#">大神</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html">空 调</a>
        <ul class="sub-Menu">
          <li><a href="#">三星</a></li>
          <li><a href="#">华为</a></li>
          <li><a href="#">OPPO</a></li>
          <li><a href="#">vivo</a></li>
          <li><a href="#">苹果</a></li>
          <li><a href="#">TCL</a></li>
          <li><a href="#">酷派</a></li>
          <li><a href="#">大神</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html">冰 箱</a>
        <ul class="sub-Menu">
          <li><a href="#">三星</a></li>
          <li><a href="#">华为</a></li>
          <li><a href="#">OPPO</a></li>
          <li><a href="#">vivo</a></li>
          <li><a href="#">苹果</a></li>
          <li><a href="#">TCL</a></li>
          <li><a href="#">酷派</a></li>
          <li><a href="#">大神</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html">洗衣机</a>
        <ul class="sub-Menu">
          <li><a href="#">三星</a></li>
          <li><a href="#">华为</a></li>
          <li><a href="#">OPPO</a></li>
          <li><a href="#">vivo</a></li>
          <li><a href="#">苹果</a></li>
          <li><a href="#">TCL</a></li>
          <li><a href="#">酷派</a></li>
          <li><a href="#">大神</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html">平板电脑</a>
        <ul class="sub-Menu">
          <li><a href="#">三星</a></li>
          <li><a href="#">华为</a></li>
          <li><a href="#">OPPO</a></li>
          <li><a href="#">vivo</a></li>
          <li><a href="#">苹果</a></li>
          <li><a href="#">TCL</a></li>
          <li><a href="#">酷派</a></li>
          <li><a href="#">大神</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html">关于我们</a>
      </li>
    </ul>
  </div>
</div>
<!-- nav end-->


<!-- content -->
<div class="content">
  <div class="container">
    <table id="app">
      <thead>
      <tr>
        <th class="h1"><label><input type="checkbox" id="checkAll"><em>全选</em></label></th>
        <th class="h2">商品</th>
        <th class="h3">物品标题</th>
        <th>物品标价</th>
        <th>购买数量</th>
        <th>小计</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,i) of proList">
        <td>
          <input
              type="checkbox"
              id="box"
              :checked="item.isChecked"
              @click="item.isChecked = !item.isChecked"
          >
        </td>
        <td>
          <img :src="item.proImgSrc" alt="">
        </td>
        <td>
          <a href="#">
            <p>{{item.proTitle}}</p>
            <p>别名：{{item.proType}}</p>
          </a>
        </td>
        <td>
          ¥
          <span id="price">{{item.proPrice}}</span>
        </td>
        <td>
          <input type="number"
                 v-model="item.proNums"
                 @blur="changeNum(item.proNums)"
                 size="2"
                 id="num"
          />
        </td>
        <td>
          ¥
          <span id="total">{{item.proPrice * item.proNums}}</span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td class="clear" colspan="6">
          <label class="left" for="">
            <em id="uncheck">反选</em>
          </label>
          <span class="right" id="total_price">
								¥
								<b>{{allTotal}}</b>
								元
							</span>
          <font class="right">商品总价格:</font>
        </td>
      </tr>

      </tfoot>
    </table>
    <p class="clear p1">
      <label class="right" for=""><input type="checkbox"><em>找人代付</em></label><label class="right" for=""><input
        type="checkbox"><em>匿名付款</em></label>
    </p>
    <p class="clear p2">
      <input class="f18 white right" type="submit" value="提交订单">
    </p>
  </div>
</div>
<!-- content -->
<div class="footer">
  <p class="text-center">
		 	<span>
		 		<a href="about-us.html">关于我们</a><font>|</font>
		 		<a href="about-us.html">商务合作</a><font>|</font>
		 		<a href="about-us.html">网站地图</a><font>|</font>
		 		<a href="about-us.html">友情链接</a><font>|</font>
		 		<a href="about-us.html">法律声明</a>
		 	</span>
  </p>
  <p class="text-center">
		 	<span>
		 		Copyright©2012 广州市E购通网络科技有限公司 版权所有
		 	</span>
  </p>
</div>


<script src="js/vue.js"></script>
<script src="js/new_file.js"></script>
</body>
</html>